

.buttonsContainer {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 7px 0;
}


button {
    padding: 10px 15px;
    border-radius: 7px;
    border: none;
    background-color: #475A69;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}

.buttonsContainer .decrement {
    background-color: #D64C3D
}